.blog-list {
  flex-grow: 1;
  // line-height: 1.5rem;
  li {
    list-style: none;
    padding: 0;
  }
  ul {
    padding: 0;
  }
  .title {
    flex: 7;
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 400;
    text-align: center;
  }
  .date {
    opacity: 0.9;
    color: $secondary-color;
    flex: 3;
    text-align: center;
  }

  .wc {
    display: none;
    flex: 2.5;
    color: $blog-color;
    opacity: 0.6;
  }
}

// @include max-screen() {
//   body {
//     border-top: 0;
//   }

//   .container {
//     width: 100%;
//   }
//   .about {
//     font-size: 1.2rem;
//     padding: 0 1em;
//     .post-content {
//       font-size: 0.7em;
//       line-height: 1.7em;
//       padding: 0.8em 1.3em;
//     }
//     .emoji {
//       left: 11ch;
//       top: 1.7em;
//     }
//   }
// }

.taxonomies {
  text-align: center;
  margin-bottom: 150px;
}

.taxonomies__title {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 0.5em;
}

.count {
  color: $blog-color;
  font-weight: 700;
  font-size: 1.2rem;
}
.taxonomies__items {
  padding-top: 11px;
}

.taxonomies_item {
  background: rgba(230, 238, 236, 0.03);
  border-radius: 5px;
  // margin: 0 10px;
  display: inline-block;
  min-width: 100px;
  margin: 1rem 1rem 0 0;
  padding: 0.8rem 1.2rem;
  font-size: 1.1rem;
  word-spacing: 3px;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .error-heading {
    font-size: 2rem;
  }
}

.blog-page {
  line-height: 1.5rem;
  font-weight: 400;

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
    color: $secondary-color;
  }

  pre {
    display: block;
    border-radius: 12px;
    padding: 1rem;
  }

  pre {
    overflow: auto;
    code {
      display: block;
      overflow: auto;
      padding: 0.25rem;
      // font-size: 1rem;
      background: none;
      color: $blog-color;
    }
  }

  code,
  kbd {
    font-family: $monospace-font;
    border-radius: 0.5rem;
    color: $highlight-color;
    padding: 0.25rem 0.25rem;
    background-color: $background_color_secondary;
  }

  blockquote {
    &:before {
      font-size: 3rem;
      color: $highlight-color;
      content: '"';
      margin-right: 0.2em;
      float: left;
    }
    margin: 1rem 0;
    padding: 1rem 1rem;
    font-size: 1rem;
    background-color: $background_color_secondary;
    border-radius: 1rem;

    p {
      margin: 0;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    // background-color: $background_color_secondary;
    border: 1px solid $blog-color;

    th {
      font-weight: bold;
      border: 1px solid $blog-color;
      padding: 0.6rem;
    }

    /* Style for the table cells */
    td {
      border: 1px solid $blog-color;
      padding: 0.6rem;
    }

    /* Hover effect for the table rows */
    tr:hover :not(th) {
      background-color: $background_color_secondary;
    }
  }

  abbr {
    text-decoration: double underline;
    cursor: help;
  }

  mark {
    background-color: rgb(230, 230, 104); 
    padding: 0.2rem; 
    font-weight: bold; 
    border-radius: 0.2rem;
  }
}

// .about {
//   font-size: 1.6rem;
//   .post-title {
//     display: flex;
//     justify-content: center;
//     margin-bottom: 2em;
//   }
//   .post-content {
//     position: relative;
//     font-size: 0.8em;
//     line-height: 1.7em;
//     outline: 3px solid #64ffda;
//     padding: 1em 2em;
//     border-radius: 1em;
//   }
// }
