html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  color: $text-color;
  background-color: $background_color;
  font-family: $blog-font;
}

.container {
  width: $body-width;
  margin: 0 auto;
}

@include max-screen() {
  body {
    border-top: 0;
  }

  .container {
    width: 100%;
  }
}

a {
  color: $link-color;
  text-decoration: none;
}
