html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  color: $text-color;
  background-color: $background_color;
  font-family: $blog-font;
}

.container {
  width: $body-width;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  margin: 0 1rem;
}

@include max-screen() {
  body {
    border-top: 0;
  }

  .container {
    width: 100%;
  }
}

a {
  color: $link-color;
  text-decoration: none;
}
