@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

$background_color: #1a202c;
$color: #fcfcfc;
$blog-font: "Poppins", sans-serif;
$link-color: #7bf02e;

* {
  background-color: $background_color;
  font-family: $blog-font;
}

body {
  
  color: $color;
}

a:visited,
a {
  color: $link-color;
}
