footer {
  color: $secondary_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  font-size: 1.1rem;
  line-height: 1.5rem;

  .social {
    display: flex;
    align-items: center;
    a {
      margin-right: 1rem;
      display: flex;
      align-items: center;
    }
  }

  p {
    margin: 0;
  }
  .footer_info {
    display: flex;
    justify-content: space-between;

    a {
      transition: all 0.4s;
      &:hover {
        color: $link-highlighted-color;
      }
    }
  }
  @include sm {
    flex-direction: column;
  }
}

.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  font-size: 1.2rem;

  @include sm {
    display: none;
  }
}

.nav-item-desktop {
  transition: all 0.3s;
  border-radius: 50%;
  letter-spacing: 1px;

  &:hover {
    color: $link-highlighted-color;
  }
}

.index-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .index-title {
    font-size: 2.8rem;
    letter-spacing: 2px;
    color: $link-color;
  }

  .index-subtitle {
    font-size: 1.2rem;
  }
}
