.navbar {
  flex: 2;
  display: flex;
  position: static;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 10px;
  font-weight: bold;

  .navbar-left {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .navbar-title {
      text-decoration: none;
      margin: 0 0.5rem;
    }
  }

  .navbar-right {
    display: none;
  }
}

.navbar-mobile {
  display: flex;
  flex-direction: row;
  position:fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  // margin: 0 0.5rem;
}
