//fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
//icons
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

//colors
$background_color: #222831;
$background_color_secondary: #493e46;
$secondary_color: #c69749;
$text-color: #eeeeee;
$link-color: #f7f4f5;
$link-highlighted-color: #0c1f19;
$low-opacity-color: #ffffff;

//fonts
$blog-font: 'Mulish', sans-serif;
$blog-heading-font: 'Open Sans', sans-serif;

$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

//sizes
$body-width: 800px;

@mixin sm {
  @media (max-width: #{$body-width}) {
    @content;
  }
}

@mixin max-screen($max-width: $body-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}
