//fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");


//colors
$background_color: #1a202c;
$color: #ececec;
$blog-font: 'Poppins', sans-serif;
$link-color: #7bf02e;
