//fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

//icons
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

//colors
$background_color: #162237;
$background_color_secondary: #222e46;
$secondary_color: #8892b0;
$text-color: #dce0d8;
$link-color: #35ddb6;
$link-highlighted-color: #3eb996;

//fonts
$blog-font: 'Roboto', sans-serif;
$blog-heading-font: 'Open Sans', sans-serif;

$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

//sizes
$body-width: 800px;

@mixin sm {
  @media (max-width: #{$body-width}) {
    @content;
  }
}

@mixin max-screen($max-width: $body-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}
