{% extends "base.html" %}
{% import "page_macros.html" as page_macro %}
{% block title %}
    {{ config.title }} - {{ page.title }}
{% endblock title %}
{% block metadata %}
    <meta content="website" property="og:type"/>
    <meta content="{{ config.title }}" property="og:site_name"/>
    <meta content="{{ current_url | safe }}" property="og:url"/>
    <meta content="{{ current_url | safe }}" property="twitter:url"/>
    {% if page.title %}
        <meta content="{{ page.title }}" property="og:title"/>
        <meta content="{{ page.title }}" property="twitter:title"/>
    {% endif %}
    {% if page.description %}
        <meta content="{{ page.description }}" property="description"/>
        <meta content="{{ page.description }}" property="og:description"/>
        <meta content="{{ page.description }}" property="twitter:description"/>
    {% endif %}
    {% if page.extra.metadata_image %}
        <meta content="summary_large_image" property="twitter:card"/>
        <meta content="{{ config.base_url | safe }}{{ page.extra.metadata_image }}" property="og:image"/>
        <meta content="{{ config.base_url | safe }}{{ page.extra.metadata_image }}" property="twitter:image"/>
    {% else %}
        <meta content="summary_large_image" property="twitter:card"/>
        <meta content="{{ config.base_url | safe }}/images/cover.png" property="og:image"/>
        <meta content="{{ config.base_url | safe }}/images/cover.png" property="twitter:image"/>
    {% endif %}
{% endblock metadata %}
{% block content %}
<article class="blog-page">
  <div class="header">
    <div class="meta">
      {% if page.date %}
      <div class="date">{{ page.date }}</div>
      {% endif %}

      {% if page.taxonomies %}
      <div class="tags">
        {% for taxonomy in page.taxonomies.categories%}
        <a href="{{get_taxonomy_url(kind='categories',name=taxonomy) | safe }}" class="tag">
          {{taxonomy}}
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="title">{{ page.title }}</div>
    <div class="description">{{ page.description }}</div>
  </div>
  <div class="content">{{ page.content| safe  }}</div>

  {{page_macro::utterance(page=page,config=config)}}
  
</article>
{% endblock content %}
