{% extends "base.html" %} {% block content %}
<article class="blog-page">
  <div class="header">
    <div class="meta">
      {% if page.date %}
      <div class="date">{{ page.date }}</div>
      {% endif %}

      {% if page.taxonomies %}
      <div class="tags">
        {% for taxonomy in page.taxonomies.categories%}
        <a href="{{get_taxonomy_url(kind='categories',name=taxonomy) | safe }}" class="tag">
          {{taxonomy}}
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="title">{{ page.title }}</div>
    <div class="description">{{ page.description }}</div>
  </div>
  <div class="content">{{ page.content| safe  }}</div>
</article>
{% endblock content %}
