{% extends "base.html" %} {% block content %}
<div class="blog-list">
  {# enlist all blogs on home screen #}
  <ul>
    {% for page in section.pages %}
    <li>
      <a class="heading" href="{{ page.permalink | safe }}">
        <p class="page date">{{page.date | date(format="%-d %b, %Y") }}</p>
        <p class="page title">{{ page.title }}</p>
        <p class="page wc">
          {%set page_content = page.content | wordcount /200.0 %}
          {{page_content|round(method="ceil")}} mins read
        </p>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
