{% macro footer() %}
<footer>
  <div>
    <script>
      document.write(new Date().getFullYear())
    </script>

    <script src="/main.js"></script>
  
  </div>
</footer>
{%endmacro footer%} 



{% macro navbar()%}
<header>
  <nav class="navbar">
    <button class="navbar-toggler" type="button" id="navbarNavBtn">
      <span class="navbar-toggler-line"></span>
      <span class="navbar-toggler-line"></span>
      <span class="navbar-toggler-line"></span>
    </button>
    <div class="navbar-left">
      <a href="{{ config.base_url | safe }}" class="navbar-title">
          {{ config.title }}
      </a>
    </div>


    <div class="navbar-right">
      <ul class="navbar-nav">
        {% for item in config.extra.blog_menu %}
        <li class="nav-item nav-link">
           <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}" class="navbar-item">
            {{ item.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
<div class="collapse navbar-collapse"  id="navbarNav">
  <ul class="navbar-nav">
    {% for item in config.extra.blog_menu %}
    <li class="nav-item nav-link">
      <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}" class="navbar-item">
        {{ item.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{%endmacro navbar%}
