{% macro footer() %}
<footer>
  <p>
    <script>
      document.write(new Date().getFullYear())
    </script>
    | 
    <a href="https://github.com/rajivharlalka/accio">Github</a> 
    | 
    <a href="/atom.xml">RSS</a>
  </p>
</footer>
{%endmacro footer%} 



{% macro navbar()%}
<header>
  <nav class="navbar">
    <div class="navbar-left">
      <a href="{{ config.base_url | safe }}" class="navbar-title">
          {{ config.title }}
      </a>
    </div>


    <div class="navbar-right">
      <ul class="navbar-nav">
        {% for item in config.extra.blog_menu %}
        <li class="nav-item nav-link">
           <a href="{{ item.url | replace(from='$BASE_URL', to=config.base_url) }}" class="navbar-item">
            {{ item.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
{%endmacro navbar%}

{% macro navbar_mobile()%}
<div class="navbar-mobile">
  <ul class="navbar-nav">
    {% for item in config.extra.blog_menu %}
    <li class="nav-item nav-link">
       <a href="{{ item.url | replace(from='$BASE_URL', to=config.base_url) }}" class="navbar-item">
        {{ item.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{%endmacro navbar_mobile%}

{% macro utterance(page,config) %}
<h2>Comments</h2>
{% if config.extra.utterance.repo %}
<script src="https://utteranc.es/client.js"
        repo="{{ config.extra.utterance.repo | safe}}"
        issue-term="pathname"
        theme="{{ config.extra.utterance.theme |safe}}"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
{%endmacro utterance%}